{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google", "plugin:react/recommended"],
  "plugins": ["babel", "react"],
  "rules": {
    "no-invalid-this": 0,
    "babel/no-invalid-this": 1,
    "no-warning-comments": 1,
    "comma-dangle": ["error", "always-multiline"]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
